.info {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.3s linear;
  animation: smooth 0.5s linear;
}
@media (max-width: 900px) {
  .info {
    display: none;
  }
}
/* @keyframes (smooth) {
} */
