.info {
  width: 20%;
  max-width: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 1s linear;

  /* animation: smooth 0.5s linear; */
}

@media (max-width: 600px) {
  .info {
    transform: translateX(100%);
  }
}

/* @media (max-width: 600px) {
  .info {
    transform: translateX(170%); */
/* display: none; */
/* }
} */
/* @keyframes (smooth) {
} */
